<template>
  <transition name="fade">
    <div>
      <ActionBar />
      <v-container style="margin-top: 20px">
        <v-card class="mx-auto my-12" max-width="374">
          <template slot="progress">
            <v-progress-linear
              color="deep-purple"
              height="10"
              indeterminate
            ></v-progress-linear>
          </template>

          <v-img height="200" src="/background-profile.png">
            <v-row align="center" class="h-full">
              <v-col align="center">
                <v-avatar class="profile" size="164">
                  <v-img src="/ikmalsuzali_1.jpg"></v-img>
                </v-avatar>
              </v-col>
            </v-row>
          </v-img>

          <v-card-title>Ikmal Suzali</v-card-title>
          <v-card-subtitle>Full Stack Developer</v-card-subtitle>

          <v-divider class="mx-4"></v-divider>
          <v-card-title>My Hobbies</v-card-title>
          <v-card-text>
            <v-chip-group
              active-class="deep-purple accent-4 white--text"
              column
            >
              <v-chip color="green">Cycling</v-chip>
              <v-chip color="green">Scuba Diving</v-chip>
              <v-chip color="green">Running</v-chip>
              <v-chip color="green">Football</v-chip>
              <v-chip color="green">Building personal projects</v-chip>
            </v-chip-group>
          </v-card-text>

          <v-divider class="mx-4"></v-divider>
          <v-card-title>Skills I Want To Learn</v-card-title>
          <v-card-text>
            <v-chip-group
              active-class="deep-purple accent-4 white--text"
              column
            >
              <v-chip color="primary">GoLang</v-chip>
              <v-chip color="primary">Flutter</v-chip>
              <v-chip color="primary">Machine Learning</v-chip>
            </v-chip-group>
          </v-card-text>

          <v-card-actions>
            <v-btn color="deep-purple lighten-2" text @click="onChatClick">
              Contact Me
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-container>
    </div>
  </transition>
</template>

<script>
export default {
  methods: {
    onChatClick() {
      this.$router.push('/chat')
    },
  },
}
</script>

<style lang="scss" scoped></style>
