<template>
  <div>
    <ActionBar />
    <v-container style="margin-top: 50px">
      <v-row>
        <v-col>
          <v-card class="pa-3">
            <div class="text-2xl">Hi, {{ usernameState }}</div>
            <div class="text-center mb-6">
              <div class="text-xl ma-2 ml-0">
                <u>Contact me in through these various methods</u>
              </div>

              <div class="font-bold">Personal website</div>
              <div>
                <a href="mailto:ikmalsuzali@gmail.com"
                  >ikmalsuzali.mytester.space</a
                >
              </div>
              <div class="font-bold">Bitbucket Repo</div>
              <div>
                <a href="https://bitbucket.org/ikiplayer"
                  >https://bitbucket.org/ikiplayer</a
                >
              </div>
              <div>
                A lot of work is private, but I am willing to show if interested
              </div>
              <div class="font-bold">Email me at</div>
              <div>
                <a href="mailto:ikmalsuzali@gmail.com">ikmalsuzali@gmail.com</a>
              </div>
              <div class="font-bold">Whatsapp me at</div>
              <div>
                <a href="whatsapp://+60123886453">+60123886453</a>
              </div>
              <div class="font-bold">Call me at</div>
              <div>
                <a href="call://+60123886453">+60123886453</a>
              </div>
              <div class="font-bold">Facebook Messenger</div>
              <div>
                <div>Upcoming feature</div>
              </div>
            </div>
            <div class="text-2xl text-center">
              <b>Or Share with somebody who might be interested</b>
            </div>
            <ShareNetwork
              v-for="(network, index) in networks"
              :network="network.network"
              :key="index"
              url="https://ikmalsuzali.mytester.space"
              title="Ikmal Suzali - Full Stack Dev - Vue.js - Node.js - Laravel"
              description="Hi my name is Ikmal Suzali. A full stack developer with 4 years of experience"
              quote="Fullstack Dev"
              hashtags="vuejs,nodejs,express"
            >
              <!-- <span>{{ network.name }}</span> -->
              <v-btn class="m-4" :color="network.color">{{
                network.name
              }}</v-btn>
            </ShareNetwork>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      networks: [
        {
          network: 'baidu',
          name: 'Baidu',
          icon: ['fas', 'fah', 'fa-lg', 'fa-paw'],
          color: '#2529d8',
        },

        {
          network: 'email',
          name: 'Email',
          icon: 'far fah fa-lg fa-envelope',
          color: 'secondary',
        },
        {
          network: 'evernote',
          name: 'Evernote',
          icon: 'fab fah fa-lg fa-evernote',
          color: '#2dbe60',
        },
        {
          network: 'facebook',
          name: 'Facebook',
          icon: 'fab fah fa-lg fa-facebook-f',
          color: '#1877f2',
        },
        {
          network: 'flipboard',
          name: 'Flipboard',
          icon: 'fab fah fa-lg fa-flipboard',
          color: '#e12828',
        },
        {
          network: 'hackernews',
          name: 'HackerNews',
          icon: 'fab fah fa-lg fa-hacker-news',
          color: '#ff4000',
        },
        {
          network: 'instapaper',
          name: 'Instapaper',
          icon: 'fas fah fa-lg fa-italic',
          color: '#428bca',
        },
        {
          network: 'line',
          name: 'Line',
          icon: 'fab fah fa-lg fa-line',
          color: '#00c300',
        },
        {
          network: 'linkedin',
          name: 'LinkedIn',
          icon: 'fab fah fa-lg fa-linkedin',
          color: '#007bb5',
        },

        {
          network: 'pinterest',
          name: 'Pinterest',
          icon: 'fab fah fa-lg fa-pinterest',
          color: '#bd081c',
        },
        {
          network: 'pocket',
          name: 'Pocket',
          icon: 'fab fah fa-lg fa-get-pocket',
          color: '#ef4056',
        },
        {
          network: 'quora',
          name: 'Quora',
          icon: 'fab fah fa-lg fa-quora',
          color: '#a82400',
        },
        {
          network: 'reddit',
          name: 'Reddit',
          icon: 'fab fah fa-lg fa-reddit-alien',
          color: '#ff4500',
        },
        {
          network: 'skype',
          name: 'Skype',
          icon: 'fab fah fa-lg fa-skype',
          color: '#00aff0',
        },
        {
          network: 'sms',
          name: 'SMS',
          icon: 'far fah fa-lg fa-comment-dots',
          color: 'primary',
        },
        {
          network: 'stumbleupon',
          name: 'StumbleUpon',
          icon: 'fab fah fa-lg fa-stumbleupon',
          color: '#eb4924',
        },
        {
          network: 'telegram',
          name: 'Telegram',
          icon: 'fab fah fa-lg fa-telegram-plane',
          color: '#0088cc',
        },
        {
          network: 'tumblr',
          name: 'Tumblr',
          icon: 'fab fah fa-lg fa-tumblr',
          color: 'primary',
        },
        {
          network: 'twitter',
          name: 'Twitter',
          icon: 'fab fah fa-lg fa-twitter',
          color: '#1da1f2',
        },
        {
          network: 'viber',
          name: 'Viber',
          icon: 'fab fah fa-lg fa-viber',
          color: '#59267c',
        },

        {
          network: 'weibo',
          name: 'Weibo',
          icon: 'fab fah fa-lg fa-weibo',
          color: '#e9152d',
        },
        {
          network: 'whatsapp',
          name: 'Whatsapp',
          icon: 'fab fah fa-lg fa-whatsapp',
          color: '#25d366',
        },
        {
          network: 'wordpress',
          name: 'Wordpress',
          icon: 'fab fah fa-lg fa-wordpress',
          color: '#21759b',
        },

        {
          network: 'yammer',
          name: 'Yammer',
          icon: 'fab fah fa-lg fa-yammer',
          color: '#0072c6',
        },
      ],
    }
  },
  computed: {
    usernameState() {
      return this.$store.state.username
    },
  },
}
</script>

<style lang="scss" scoped></style>
