<template>
  <div>
    <div class="action-bar-style-1">
      <div class="flex ml-4" style="display: flex; width: 100%">
        <img
          v-if="hasBackIcon"
          src="/icons8-back-48.png"
          alt="Back Button"
          width="50px"
          @click="$router.back()"
        />
        <div>
          <div class="text-xl">
            Ikmal Suzali
            <a
              v-if="$vssWidth > 585"
              href="mailto:ikmalsuzali@gmail.com"
              class="text-sm"
              >ikmalsuzali@gmail.com</a
            ><a />
          </div>
          <div v-if="$vssWidth > 585" class="text-xs">
            Full Stack Developer: Vue.js +4yr ~ Laravel +4yr ~ Node.js +2yr
          </div>
        </div>
      </div>
      <v-tooltip left>
        <template v-slot:activator="{ on, attrs }">
          <div
            v-bind="attrs"
            v-on="on"
            style="align-self: center; margin-right: 30px; margin-left: auto"
          >
            <a href="whatsapp://+60123886453"
              ><img
              alt="Whatsapp me"
                style="height: 40px; width: 44px"
                src="/icons8-whatsapp-64.png"
            /></a>
          </div>
        </template>
        <span>Whatsapp Me</span>
      </v-tooltip>
      <v-tooltip left>
        <template v-slot:activator="{ on, attrs }">
          <div
            v-bind="attrs"
            v-on="on"
            style="align-self: center; margin-right: 30px; margin-left: auto"
            @click="onResumeClick"
          >
            <img
            alt="Download Resume"
              style="height: 35px; width: 35px"
              src="/icons8-download-resume-80.png"
            />
          </div>
        </template>
        <span>Download Resume</span>
      </v-tooltip>
    </div>
  </div>
</template>

<script>
import VueScreenSize from 'vue-screen-size'

export default {
  mixins: [VueScreenSize.VueScreenSizeMixin],
  props: {
    hasBackIcon: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    onResumeClick() {
      let link = document.createElement('a')
      link.href = '/Ikmal-Suzali-Full-Stack-Dev-W.pdf'
      link.download = ''
      link._target = 'blank'
      link.click()
    },
  },
}
</script>

<style lang="scss" scoped>
.action-bar-style-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #eee;
  display: flex;
  height: 50px;
  z-index: 9999;
}
</style>
