<template>
  <div>
    <input type="file" @change="onFileSelected" /><img
      v-if="file"
      :src="getFileUrl"
    />
    <div v-else>No Image Available</div>
  </div>
</template>
<script>
export default {
  data() {
    return { file: null }
  },
  computed: {
    getFileUrl() {
      if (this.file) {
        return URL.createObjectURL(this.file)
      }
      return ''
    },
  },
  methods: {
    onFileSelected(event) {
      const validImageTypes = ['image/gif', 'image/jpeg', 'image/png']
      let fileType = event.target.files[0]['type']
      if (!validImageTypes.includes(fileType)) {
        this.file = event.target.files[0]
      }
    },
  },
}
</script>
