<template>
  <div>
    <v-card elevation="24" max-width="444" class="mx-auto w-full">
      <v-carousel
        :continuous="false"
        :cycle="true"
        :show-arrows="false"
        :show-arrows-on-hover="true"
        hide-delimiter-background
        delimiter-icon="mdi-plus"
        height="300"
      >
        <v-carousel-item v-for="(slide, i) in slider.slideItems" :key="i">
          <v-sheet color="green lighten-1" height="100%" tile>
            <img contain :src="slide.src" />
          </v-sheet>
        </v-carousel-item>
      </v-carousel>
      <v-list two-line>
        <v-list-item>
          <v-list-item-avatar color="primary">
            <div>{{ slider.shortCode }}</div>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ slider.name }}</v-list-item-title>
            <v-list-item-subtitle style="font-size: 12px">{{
              slider.desc
            }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    slider: {
      type: Object,
      default: () => {
        slideItems: []
      },
    },
  },
}
</script>

<style lang="scss" scoped></style>
