<template>
  <div>
    <div>
      <v-container style="margin-bottom: 100px">
        <v-row wrap>
          <v-col style="padding: 0" xs="12" lg="12" md="12">
            <div>
              <div class="text-2xl mx-5">Order By Projects</div>
              <v-chip
                v-for="(project, index) in projects"
                :key="index"
                class="m-2 mx-2 px-4"
                close-icon="mdi-close-outline"
                :color="projectSelected.name == project.name ? 'blue' : 'green'"
                @click="
                  projectSelected = project
                  skillSelected = { name: '' }
                "
                >{{ project.name }}</v-chip
              >
            </div>
            <!-- <div>
              <div class="text-2xl mx-5">Order By Skill</div>
              <v-chip
                v-for="(skill, index) in skills"
                :key="index"
                class="m-2 mx-2 px-4"
                close-icon="mdi-close-outline"
                :color="skillSelected.name == skill.name ? 'blue' : 'green'"
                @click="
                  skillSelected = skill
                  projectSelected = { name: '' }
                "
                >{{ skill.name }}</v-chip
              >
            </div> -->
          </v-col>
        </v-row>
        <v-row style="" class="mt-5">
          <v-col
            xs="12"
            lg="12"
            v-if="projectSelected.name == 'ikmalsuzali@mytester.space'"
          >
            <div>
              <div class="text-2xl text-bold mb-5">
                <b>{{ projectSelected.name }}</b> - My Personal Website
              </div>
              <div v-html="projectSelected.html"></div>
              <div
                class="mt-5"
                v-if="projectSelected.name == 'ikmalsuzali@mytester.space'"
              >
                <v-btn rounded color="primary" @click="onDownloadMyResumeClick">
                  <v-icon left> mdi-newspaper</v-icon>
                  Download my resume
                </v-btn>
                <v-btn
                  rounded
                  color="primary"
                  @click="onDownloadSourceCodeClick"
                >
                  <v-icon left> mdi-download</v-icon>
                  Download sourcecode
                </v-btn>
                <v-btn rounded color="primary" @click="onContactMeClick">
                  <v-icon left> mdi-mail</v-icon>
                  Contact Me
                </v-btn>
              </div>
              <div class="text-2xl ma-4">View Snippets</div>
              <v-expansion-panels>
                <v-expansion-panel>
                  <v-expansion-panel-header
                    >{{ 'Snippet 1' }}
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <prism-editor
                      class="my-editor"
                      :value="$snippetResumeDefaultFile()"
                      :highlight="highlighter"
                      line-numbers
                    ></prism-editor>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </div>
          </v-col>
          <v-col
            xs="12"
            lg="12"
            v-else-if="projectSelected.name == 'textytales.com'"
          >
            <div>
              <div class="text-2xl text-bold mb-5">
                <b>{{ projectSelected.name }}</b>
                <a class="text-sm" href="https://www.textytales.com"
                  >Visit website here</a
                >
              </div>
              <div v-html="projectSelected.html"></div>
              <div class="text-2xl ma-4">View Snippets</div>
              <v-expansion-panels>
                <v-expansion-panel>
                  <v-expansion-panel-header
                    >{{ 'Preview Website' }}
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <vue-friendly-iframe
                      src="https://www.textytales.com"
                    ></vue-friendly-iframe>
                  </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                  <v-expansion-panel-header
                    >{{ 'Snippet: Node.js' }}
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <prism-editor
                      class="my-editor"
                      :value="$snippetTextyTalesControllerApiFile()"
                      :highlight="highlighter"
                      line-numbers
                    ></prism-editor>
                  </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                  <v-expansion-panel-header
                    >{{ 'Snippet: Vue.js' }}
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <prism-editor
                      class="my-editor"
                      :value="$snippetTextyTalesChatWebFile()"
                      :highlight="highlighter"
                      line-numbers
                    ></prism-editor>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </div>
          </v-col>
          <v-col
            xs="12"
            lg="12"
            v-else-if="projectSelected.name == 'onegenerate.com'"
          >
            <div>
              <div class="text-2xl text-bold mb-5">
                <b>{{ projectSelected.name }}</b>
                <a class="text-sm" href="https://onegenerate.com"
                  >Visit website here</a
                >
              </div>
              <div v-html="projectSelected.html"></div>
              <div class="text-2xl ma-4">View Snippets</div>
              <v-expansion-panels>
                <v-expansion-panel>
                  <v-expansion-panel-header
                    >{{ 'Preview Website' }}
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <vue-friendly-iframe
                      src="https://onegenerate.com"
                    ></vue-friendly-iframe>
                  </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                  <v-expansion-panel-header
                    >{{ 'Snippet: React.js' }}
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <prism-editor
                      class="my-editor"
                      :value="$snippetOneGeneratePersonFile()"
                      :highlight="highlighter"
                      line-numbers
                    ></prism-editor>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </div>
          </v-col>
          <v-col v-else>
            <div>
              <div class="text-2xl text-bold mb-5">
                <b>{{ projectSelected.name }}</b>
              </div>
              <div v-html="projectSelected.html"></div>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import 'vue-prism-editor/dist/prismeditor.min.css' // import the styles somewhere

// import highlighting library (you can use any library you want just return html string)
import { highlight, languages } from 'prismjs/components/prism-core'
import 'prismjs/components/prism-clike'
import 'prismjs/components/prism-javascript'
import 'prismjs/themes/prism-tomorrow.css' //

export default {
  transition: {
    // mode: 'slide-left',
    // appear: true,
  },

  data() {
    return {
      code: '',
      projects: [
        {
          name: 'ikmalsuzali@mytester.space',
          html: `
          <div><u>Created: Jan 2021 - Ongoing</u></div>
          <div>Built with <b>Vue.js</b> & <b>Nuxt.js</b> using TailwindCss  & a bit of Vuetify components</div>
          <div>This website is a landing page for my showcase of work. Anyone interested can look here to see the lastest up to date work, or can contact me for any freelancing work</div>
          `,
          tags: ['Vue.js', 'Nuxt.js'],
        },
        {
          name: 'textytales.com',
          html: `
        <div><u>Created: Nov 2020 - Ongoing</u></div>
        <div>Built with <b>Vue.js</b> & <b>Node.js</b> & <b>TailwindCss</b> & <b>Vuesax Framework</b></div>
        <div>A social platform where users can share, create and read other people’s chat messages that can come from whatsapp, tinder, telegram, IMessage.</div>
        <div>Further plan to dynamically populate the chat messages as if its coming in live.</div>
        `,
          tags: ['Vue.js', 'Node.js', 'TailwindCss'],
        },
        {
          name: 'onegenerate.com',
          html: `
        <div><u>Created: 07/2019 - Ongoing</u></div>
        <div>Built with <b>React.js</b> & <b>Ant Design Framework</b></div>
        <div>– A website that allows users to quickly generate code or pieces of work without any coding and/or software knowledge
        A showcase and learning experience on what the differences are between React and Vue.js
        </div>
        <div>Further plans to establish microservice api's such as pdf converters, image optimization and many morer</div>
        <div>Might move to Vue.js sincne it is more preferable</div>
        `,
          tags: ['React.js', 'Ant Design Framework'],
        },
        {
          name: 'Pick Up Game',
          html: `
        <div><u>Created: 2013 - 2015</u></div>
        <div>Built with <b>Flutter</b> & <b>Node.js</b> & <b>SQL</b></div>
        <div>Failed Startup - An application where friiends and strangers alike could meetup and join nearby games.</div>
        <div>Initially built with Ionic framework then moved to writing in Java for Android and Swift for IOS then moved to Flutter.</div>
        <div>Backend written with Node.js, SQL, Jenkins</div>
        `,
          tags: ['Node.js', 'SQL', 'Flutter'],
        },
        {
          name: 'Inversal Game',
          html: `
        <div><u>Created: 2014 - 2015</u></div>
        <div>Built with <b>Unity</b> & <b>C#</b></div>
        <div>A strategic game where users will have to reach to move a box and location using single direction movement and only using the environment around them.</div>
        <div>Written to understand how to structure code.</div>
        `,
          tags: ['Unity', 'C#'],
        },
        {
          name: 'Plot Blot Game',
          html: `
        <div><u>Created: 2014 -  2015</u></div>
        <div>Built with <b>Unity</b> & <b>C#</b></div>
        <div>A game where one would have to place as many blots as one can into the screen before the time runs out.</div>
        <div>Written to understand how to structure code, using singleton design pattern.</div>
        `,
          tags: ['Unity', 'C#'],
        },
        {
          name: 'COVID Tracking App',
          html: `
        <div><u>Created: 03/2020 - 04/2020</u></div>
        <div>Built with <b>Node.js</b> & <b>MongoDB</b> & <b>Nativescript-Vue</b></div>
        <div>Created a COVID Tracking app - not released because it does not meet Google Play Store requirements.</div>
        <div>Run a daily cron job that will pull data fom an updated daily excel sheet on a public Github repo and storer inside MongoDB. App would display the data on a daily and monthly basis with charts to evaluate the cases.</div>
        `,
          tags: ['Node.js', 'MongoDb', 'Nativescript'],
        },
      ],
      skills: [
        { id: 1, name: 'Vue.js' },
        { id: 3, name: 'Node.js' },
        { id: 4, name: 'MySql' },
        { id: 5, name: 'Redis' },
        { id: 7, name: 'Nativescript' },
        { id: 8, name: 'Flutter' },
        { id: 9, name: 'Unity' },
      ],

      projectSelected: {},
      skillSelected: {},
      routeName: this.$nuxt.$route.path,
    }
  },
  methods: {
    highlighter(code) {
      // js highlight example
      return Prism.highlight(code, Prism.languages.js, 'js')
    },
    checkIsOnRoute(route) {
      if (this.routeName.includes(route)) {
        return true
      } else {
        return false
      }
    },
    onDownloadMyResumeClick() {
      let link = document.createElement('a')
      link.href = '/Ikmal-Suzali-Full-Stack-Dev-W.pdf'
      link.download = ''
      link._target = 'blank'
      link.click()
    },
    onDownloadSourceCodeClick() {
      let link = document.createElement('a')
      link.href = 'https://bitbucket.org/ikiplayer'
      link._target = 'blank'
      link.click()
    },
    onContactMeClick() {
      this.$router.push('/chat')
    },
  },
  beforeMount() {
    this.projectSelected = this.projects[0]
  },
}
</script>

<style lang="scss">
iframe {
  width: 100%;
  height: 90vh;
}
.secondary-header {
  cursor: pointer;
  margin: 0vw;
  margin-right: 0vw;
  font-size: 3.5vw;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
}

@media screen and (min-width: 800px) {
  .secondary-header {
    margin: 0vw;
    margin-right: 0vw;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
  }
}

.secondary-header-selected {
  background-color: lightgrey;
}

.my-editor {
  /* we dont use `language-` classes anymore so thats why we need to add background and text color manually */
  background: #2d2d2d;
  color: #ccc;

  /* you must provide font-family font-size line-height. Example:*/
  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px;
}

.v-expansion-panel-content__wrap {
  padding: 0px;
}
</style>
