<template>
  <div>
    <div>
      <v-container>
        <v-row wrap>
          <v-col style="padding: 0" xs="12" lg="12" md="12">
            <div
              style="color: black; text-decoration: none"
              class="secondary-header"
              :class="{
                'secondary-header-selected': checkIsOnRoute('secondaryheader1'),
              }"
            >
              <div>
                Imttech Sdn Bhd
                <a class="text-sm" href="https://www.imttech.co/"
                  >Visit website here</a
                >
              </div>
            </div>
            <div>
              <v-chip
                v-for="(skill, index) in imttechSkillSets"
                :key="index"
                class="m-5 mx-2 px-6"
                close-icon="mdi-close-outline"
                :color="skillSelected == skill.id ? 'blue' : 'green'"
                @click="
                  skillSelected = skill.id
                  filterPointsBySkill()
                "
                >{{ skill.name }}</v-chip
              >
            </div>
          </v-col>
          <v-row>
            <v-col>
              <div
                class="mt-3"
                v-for="(point, index) in filteredPoints"
                :key="index"
              >
                <div class="text-lg" style="font-family: Roboto">
                  {{ point.desc }}
                </div>
                <v-btn v-if="point.hasInterestBtn" elevation="2" outlined small
                  >Interested to know more?</v-btn
                >
              </div>
            </v-col>
          </v-row>
        </v-row>
        <v-row class="mt-10" style="margin-bottom: 100px">
          <v-col xs="12" lg="3">
            <Slider :slider="imaintainSlider" />
          </v-col>
          <v-col xs="12" lg="3">
            <Slider :slider="ischoolSlider" />
          </v-col>
          <v-col xs="12" lg="3">
            <Slider :slider="iloyaltySlider" />
          </v-col>
          <v-col xs="12" lg="3">
            <Slider :slider="icpSlider" />
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      imaintainSlider: {
        shortCode: 'IM',
        name: 'iMaintain',
        desc: 'Facility Management Feedback',
        slideItems: [
          {
            src: '/imaintain/imaintain-home.png',
            alt: 'Home',
          },
          {
            src: '/imaintain/imaintain-dashboard.png',
            alt: 'Dashboard',
          },
          {
            src: '/imaintain/imaintain-general-feedback.png',
            alt: 'General Feedback',
          },
          {
            src: '/imaintain/imaintain-notifications.png',
            alt: 'Notifications',
          },
          {
            src: '/imaintain/imaintain-announcement.png',
            alt: 'Home',
          },
        ],
      },
      ischoolSlider: {
        shortCode: 'IS',
        name: 'iSchool',
        desc: 'School Management System',
        slideItems: [
          {
            src: '/ischool/ischool-home.png',
            alt: 'Home',
          },
          {
            src: '/ischool/ischool-login.png',
            alt: 'Login',
          },
          {
            src: '/ischool/ischool-picker.png',
            alt: 'Pickerr',
          },
          {
            src: '/ischool/ischool-class-cancellation-detail.png',
            alt: 'Class Cancellation Detail',
          },
          {
            src: '/ischool/ischool-class-cancellation.png',
            alt: 'Class Cancellation',
          },
          {
            src: '/ischool/ischool-class-detail.png',
            alt: 'Class Detail',
          },
          {
            src: '/ischool/ischool-classes-listing.png',
            alt: 'Class Listing',
          },
        ],
      },
      iloyaltySlider: {
        shortCode: 'IM',
        name: 'iLoyalty',
        desc: 'Loyalty Management System',
        slideItems: [
          {
            src: '/iloyalty/iloyalty-home.png',
            alt: 'Home',
          },
          {
            src: '/iloyalty/iloyalty-happenings.png',
            alt: 'Happenings',
          },
          {
            src: '/iloyalty/iloyalty-my-homes.png',
            alt: 'My Homes',
          },
          {
            src: '/iloyalty/iloyalty-new-props.png',
            alt: 'New Props',
          },
          {
            src: '/iloyalty/iloyalty-overall-progress.png',
            alt: 'Overall Progress',
          },
          {
            src: '/iloyalty/iloyalty-promos.png',
            alt: 'Promos',
          },
        ],
      },
      icpSlider: {
        shortCode: 'IC',
        name: 'iCommercial',
        desc: 'Property Management System',
        slideItems: [
          {
            src: '/icp/icp-appointment.png',
            alt: 'Home',
          },
          {
            src: '/icp/icp-general-feedback-detail.png',
            alt: 'Happenings',
          },
          {
            src: '/icp/icp-general-feedback.png',
            alt: 'My Homes',
          },
          {
            src: '/icp/icp-general-feedback.png',
            alt: 'New Props',
          },
          {
            src: '/icp/icp-home.png',
            alt: 'Overall Progress',
          },
          {
            src: '/icp/icp-unit-picker.png',
            alt: 'Promos',
          },
        ],
      },

      imttechSkillSets: [
        { id: 0, name: 'All' },
        { id: 1, name: 'Vue.js' },
        { id: 2, name: 'Laravel' },
        { id: 3, name: 'Node.js' },
        { id: 4, name: 'MySql' },
        { id: 5, name: 'Redis' },
        { id: 6, name: 'PHP' },
        { id: 7, name: 'Nativescript' },
        { id: 8, name: 'Ubuntu' },
      ],
      imttechSkillPoints: [
        {
          desc:
            '• Initially started with rewriting code from CodeIgniter to Laravel',
          skillSet: ['Laravel', 'PHP'],
          hasInterestBtn: false,
        },
        {
          desc:
            '• Worked on developing the core Vue.js codes that is used as the backbone – skeleton codes of the admin and owners’/tenants’ website.',
          skillSet: ['Vue.js'],
          hasInterestBtn: false,
        },
        {
          desc:
            '• Worked on the ICommercial/IResidential procurement module with dynamic workflows.',
          skillSet: ['Laravel', 'Vue.js', 'PHP'],
          hasInterestBtn: false,
        },
        {
          desc:
            '• Developed the core apps for IOS and Android using Nativescript-Vue. Using Vue.js as the core view framework.',
          skillSet: ['Nativescript', 'Vue.js'],
          hasInterestBtn: false,
        },
        {
          desc:
            '• Manage and supervise all the Digital Ocean droplets built with ubuntu, nginx, supervisor. Spinning up new droplet and setup process when new clients come onboard',
          skillSet: ['Ubuntu'],
          hasInterestBtn: false,
        },
        {
          desc:
            '• Lead a team of 4 to work on the Visitor’s Management System where core apps would integrate with API',
          skillSet: ['Ubuntu', 'Node.js', 'Laravel', 'PHP', 'Vue.js'],
          hasInterestBtn: false,
        },
        {
          desc:
            '• Created the visitor management broker written in Node.js using WebSocket to communicate between security server & guard server & Imttech core server.',
          skillSet: ['Node.js'],
          hasInterestBtn: false,
        },
        {
          desc:
            '• Lead a team of 3 to build a subsidiary product – ISchool – a school management system, this includes writing the frontend, backend and apps.',
          skillSet: ['Vue.js', 'Laravel', 'PHP', 'MySql', 'Redis', 'Ubuntu'],
          hasInterestBtn: false,
        },
        {
          desc:
            '• Lead a team of 2 to build a subsidiary product – IMaintain – a facility management feedback system application, where technicians can take photos of jobs completed in relation to work order. Technicians can update inventory, track assets, and update their work orders.',
          skillSet: ['Vue.js', 'Laravel', 'PHP', 'MySql', 'Redis', 'Ubuntu'],
          hasInterestBtn: false,
        },
        {
          desc:
            '• Lead a team of 3 to build a subsidiary product – ILoyalty – a loyalty application where owners who own one of clients properties will receive special rewards from the property retail/commerial venue',
          skillSet: ['Vue.js', 'Laravel', 'PHP', 'MySql', 'Redis', 'Ubuntu'],
          hasInterestBtn: false,
        },
      ],
      filteredPoints: [],
      skillSelected: 0,
      routeName: this.$nuxt.$route.path,
    }
  },
  methods: {
    checkIsOnRoute(route) {
      if (this.routeName.includes(route)) {
        return true
      } else {
        return false
      }
    },
    getImageSrc(image) {
      return image ? image : ''
    },
    filterPointsBySkill() {
      let skillSelectedObj = this.imttechSkillSets.find((item) => {
        return item.id == this.skillSelected
      })

      if (skillSelectedObj) {
        let points = this.imttechSkillPoints.filter((item) => {
          if (this.skillSelected == 0) {
            return item
          } else {
            return item.skillSet.includes(skillSelectedObj.name)
          }
        })
        return (this.filteredPoints = points)
      } else {
        return (this.filteredPoints = this.imttechSkillPoints)
      }
    },
  },
  beforeMount() {
    this.filteredPoints = this.imttechSkillPoints
  },
}
</script>

<style lang="scss" scoped>
.secondary-header {
  cursor: pointer;
  margin: 0vw;
  margin-right: 0vw;
  font-size: 3.5vw;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
}

@media screen and (min-width: 800px) {
  .secondary-header {
    margin: 0vw;
    margin-right: 0vw;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
  }
}

.secondary-header-selected {
  background-color: lightgrey;
}
</style>
