<template>
  <!-- THIS IS AN OVERLAY FOR THE ACTION TAB BAR FOR ALL PAGES -->
  <v-app>
    <v-main>
      <v-container class="">
        <nuxt :key="$nuxt.$route.path" />
        <div class="v-tab-bar">
          <div
            v-for="(navItem, index) in navItems"
            class="self-center"
            :key="index"
          >
            <div
              class="v-tab-bar-item"
              :class="{ 'with-label': navItem.label }"
              @click="onTabBarClick(navItem.to, navItem.id)"
            >
              <img
                :alt="navItem.label"
                :src="
                  selectedTab == navItem.id
                    ? navItem.selectedImage
                    : navItem.image
                "
                style="height: 20px; margin-top: 5px; margin: auto"
              />
              <div class="v-tab-bar-item-label mt-1" v-if="navItem.label">
                {{ navItem.label }}
              </div>
            </div>
          </div>
        </div>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      selectedTab: 0,
      routeName: this.$nuxt.$route.path,
      navItems: [
        {
          id: 0,
          label: 'Home',
          to: '/home',
          image: '/icons8-home-50.png',
          selectedImage: '/icons8-gradient-home-50.png',
        },
        {
          id: 1,
          label: 'Work',
          to: '/work/work-experience',
          image: '/icons8-video-50.png',
          selectedImage: '/icons8-gradient-video-50.png',
        },
        {
          id: 2,
          label: 'Chat',
          to: '/chat',
          image: '/icons8-delete-message-50.png',
          selectedImage: '/icons8-gradient-delete-message-50.png',
        },
        {
          id: 3,
          label: 'About Me',
          to: '/about-me',
          image: '/icons8-eye-50.png',
          selectedImage: '/icons8-gradient-eye-50.png',
        },
      ],
    }
  },
  methods: {
    checkIsOnRoute(route) {
      if (this.routeName.includes(route)) {
        return true
      } else {
        return false
      }
    },
    onTabBarClick(to, index) {
      this.selectedTab = index
      this.$router.push(to)
    },
  },
  watch: {
    $route(newValue, oldValue) {
      // ANY TIME THERE IS A ROUTER PUSH, WE CAN HIGHLIGHT NEW TAB
      if (newValue) {
        if (newValue.path.includes('/home')) {
          this.selectedTab = 0
        } else if (newValue.path.includes('/work')) {
          this.selectedTab = 1
        } else if (newValue.path.includes('/chat')) {
          this.selectedTab = 2
        } else if (newValue.path.includes('/about-me')) {
          this.selectedTab = 3
        }
      }
    },
  },
  created() {},
}
</script>

<style lang="css" scoped>
.v-tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  display: flex;
  height: 45px;
  justify-content: space-around;
  z-index: 9999;
}

@media screen and (min-width: 800px) {
  .v-tab-bar {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.v-tab-bar-router-view {
  margin-bottom: 45px;
}

.v-tab-bar .v-tab-bar-item {
  padding-top: 8px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  flex: 1 0 0;
  text-align: center;
  color: #777;
  text-decoration: none;
}
.v-tab-bar .v-tab-bar-item.with-label {
  padding-top: 5px;
}
.v-tab-bar .v-tab-bar-item.with-label i {
  font-size: 1.6em;
}
.v-tab-bar .v-tab-bar-item i {
  font-size: 2em;
}
.v-tab-bar .v-tab-bar-item i.inactive {
  display: block;
}
.v-tab-bar .v-tab-bar-item i.active {
  display: none;
}
.v-tab-bar .v-tab-bar-item.router-link-active {
  color: #337ab7;
}
.v-tab-bar .v-tab-bar-item.router-link-active i.inactive {
  display: none;
}
.v-tab-bar .v-tab-bar-item.router-link-active i.active {
  display: block;
}
.v-tab-bar .v-tab-bar-item .v-tab-bar-item-label {
  font-size: 10px;
  line-height: 10px;
}
.v-tab--active {
  font-size: 19px;
}
</style>
