<template>
  <div></div>
</template>

<script>
export default {
  data() {
    return {}
  },
  created() {
    this.$router.push('/home')
  },
}
</script>

<style lang="css" scoped>
body {
  overflow: hidden;
}
</style>
