<template>
  <div>
    <ActionBar />
    <v-container style="margin-top: 50px">
      <div style="display: flex; margin-bottom: 13px">
        <div>
          <nuxt-link
            style="text-decoration: none"
            to="/work/work-experience"
            class="main-header"
            :class="{
              'main-header-selected': checkIsOnRoute('work/work-experience'),
            }"
            >Work Experience</nuxt-link
          >
          <div
            v-if="checkIsOnRoute('work/work-experience')"
            style="
              border-bottom: 5px solid black;
              width: 20px;
              border-radius: 2px;
              margin: auto;
              margin-top: -3px;
            "
          ></div>
        </div>
        <div>
          <nuxt-link
            style="text-decoration: none"
            to="/work/personal-projects"
            class="main-header"
            :class="{
              'main-header-selected': checkIsOnRoute('work/personal-projects'),
            }"
            >Personal Projects</nuxt-link
          >
          <div
            v-if="checkIsOnRoute('personal-projects')"
            style="
              border-bottom: 5px solid black;
              width: 20px;
              border-radius: 2px;
              margin: auto;
              margin-top: -3px;
            "
          ></div>
        </div>
      </div>
      <nuxt-child />
    </v-container>
  </div>
</template>

<script>
export default {
  transition: {
    // mode: 'slide-left',
  },
  data() {
    return {
      routeName: this.$nuxt.$route.path,
    }
  },
  computed: {},
  methods: {
    checkIsOnRoute(route) {
      if (this.routeName.includes(route)) {
        return true
      } else {
        return false
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.main-header {
  cursor: pointer;
  margin: 2vh;
  font-size: 7vw;
}

@media screen and (min-width: 800px) {
  .main-header {
    margin: 2vh;
    font-size: 35px;
  }
}

.main-header-selected {
  color: lightseagreen !important;
  font-size: 40px;
  font-weight: bold;
}
</style>
