<template>
  <div>
    <ActionBar :hasBackIcon="false" />
    <v-container>
      <div class="my-5 mt-10">
        <div>
          <vue-typed-js
            :strings="['my name is Ikmal Suzali']"
            @onComplete="onNameIntroComplete()"
            :showCursor="false"
          >
            <div class="text-3xl">
              Hello there, <span class="typing"></span>
            </div>
          </vue-typed-js>
          <vue-typed-js
            v-if="hasNameIntroComplete"
            :strings="['Welcome to my showcase of work']"
            @onComplete="onShowcaseIntoComplete"
            :showCursor="false"
          >
            <div class="text-2xl"><span class="typing"></span></div>
          </vue-typed-js>
          <vue-typed-js
            v-if="hasShowcaseIntroComplete"
            :strings="[
              'What kind of user are you, maybe I can help point you to the right direction',
            ]"
            :showCursor="false"
          >
            <div class="text-xl"><span class="typing"></span></div>
          </vue-typed-js>
        </div>
      </div>

      <v-row>
        <v-col>
          <v-chip
            class="mr-5 ml-0 mb-3"
            close-icon="mdi-close-outline"
            color="blue"
            outlined
            @click="onHomePillClick(0)"
            >Need to download my resume?</v-chip
          >
          <v-chip
            class="mr-5 ml-0 mb-3"
            close-icon="mdi-close-outline"
            color="blue"
            outlined
            @click="onHomePillClick(1)"
            >Want to see my work?</v-chip
          >
          <v-chip
            class="mr-5 mb-3"
            close-icon="mdi-close-outline"
            color="blue"
            outlined
            @click="onHomePillClick(2)"
            >Are you interested in my work?</v-chip
          >
          <v-chip
            class="mr-5 mb-3"
            close-icon="mdi-close-outline"
            color="blue"
            outlined
            @click="onHomePillClick(3)"
            >Maybe you just want to look around...</v-chip
          >
        </v-col>
      </v-row>
      <v-row style="margin-bottom: 100px">
        <v-col lg="4">
          <v-autocomplete
            :class="$vssWidth > 868 ? 'w-11/12 mt-4' : 'w-full mt-4'"
            clearable
            :items="[
              'Hiring Manager',
              'Looking for freelancer',
              'Curious Person',
            ]"
            v-model="selectedUserType"
            outlined
            dense
            label="Who are you?"
          ></v-autocomplete>
          <v-text-field
            :value="usernameState"
            :class="$vssWidth > 868 ? 'w-11/12 mt-4' : 'w-full mt-4'"
            outlined
            label="What's your name?"
            @input="onUsernameInput"
          ></v-text-field>
          <v-text-field
            v-if="selectedUserType == 'Hiring Manager'"
            v-model="companyName"
            :class="$vssWidth > 868 ? 'w-11/12 mt-4' : 'w-full mt-4'"
            outlined
            label="Company name?"
          ></v-text-field>
        </v-col>
        <v-col xs="8" lg="8">
          <v-card class="pa-6">
            <div v-if="selectedUserType == 'Hiring Manager'">
              <div class="text-center font-bold">
                Ikmal Suzali - Cover Letter
              </div>

              <div>{{ getCurrentDate }}</div>
              <div class="m-10"></div>
              <div>{{ usernameState }}</div>
              <div>Company {{ companyName }}</div>
              <div class="m-10"></div>
              <div class="mb-4">{{ `Dear ${usernameState}` }},</div>
              <div>
                I'm writing to apply for the a position as a
                {{ lookingForType }}. I have more than 4 years of experience in
                Vue.js, Laravel, PHP, Javascript. I also have 2 years of
                experience using Node.js. My resume and my showcase of work
                should be an assurance that I can get the job done.I am
                confident that I can make the right fit at {{ companyName }}.
              </div>
              <div class="m-10"></div>
              <div>
                My journey as a developer started far before I started my first
                employment. As a self taught developer,I started my journey back
                in 2013.Learning from past failures of my own personal projects
                before my first employment helped tremendously. At Imttech as a
                startup, I learned how to manage time at certain points almost
                at a 30 minute slot. I learned new technologies like such as
                Laravel and Vue.js knowing that the timeline was short. With my
                team, I structured the requirements using the Agile methodology.
                In a startup, teamwork and delegation is key to moving fast and
                efficiently. These were just the few out of many skills I picked
                up at Imttech.
              </div>
              <div class="m-10"></div>
              <div>
                I think I would make a great fit at {{ companyName }} because I
                have many skills aside of my coding experience that I picked up
                from learning from my personal mistakes and my experience at a
                startup. I am looking forward to meeting with you and your team.
              </div>
              <div class="m-10"></div>
              <div>Sincerely,</div>
              <div>Ikmal Suzali</div>
            </div>
            <div
              v-if="
                selectedUserType == 'Looking for freelancer' ||
                selectedUserType == null
              "
            >
              <div class="mb-4">{{ `Hi ${usernameState}` }},</div>
              <div class="">
                Let me tell you a bit about myself. To get straight to the
                point, I am a <b>full stack developer</b>. If you are looking
                for someone who is proficient in <b>Vue.js</b> /
                <b>Laravel</b> / <b>Node.js</b> / <b>Nativescript</b> then you
                have come to the right page. This website itself is built with
                <b>Nuxt.js</b> and <b>Vue.js</b> as a single page application.In
                my current line of work, I am working with Imttech Sdn Bhd as a
                Fullstack Developer/Technical Business Developer. The roles and
                responsibilities included working in an Agile development
                environment, and also includes mentoring junior developers.
                Currently I am working on a personal project called
                TextyTales.com, a place where users can share, text, and create
                messages. I am keenly open to looking for new opportunities. I
                am very interested in learning a new language like
                <b>GoLang</b> & <b>Machine Learning</b> but also I want to
                expose myself to how other people write their code. If you like
                the website and/or my work do contact me at
                <a href="mailto:ikmalsuzali@gmail.com">ikmalsuzali@gmail.com</a
                >.
                <div class="m-10"></div>
                <div>
                  {{
                    `I look forward to meeting with you, ${usernameState}. A lot of my bitbucket repositories are private
               currently but inside the WORK tab. I have snippet's of work to share with you. If you want to know more 
               you can always contact me, and I can go through line by line of all my current and previous projects. Thank you for your
               time to visit my website. Below are pictures and screenshots of works I was involved with.`
                  }}
                </div>
                <div class="m-10"></div>
                <div>Sincerely, Ikmal Suzali</div>
              </div>
            </div>
            <div v-if="selectedUserType == 'Curious Person'">
              <div>
                My journey as a developer started far before I started my first
                employment. As a self taught developer,I started my journey back
                in 2013, when I decided to make an app called PICKUP GAME. A
                social app where users could find, create matches, locate nearby
                games, and play with strangers. Overzealous, the undertaking of
                building an app especially as a new software developer did not
                turn out well.Let's just say it failed before I could properly
                launch it. Going back to drawing board, I took a liking to
                coding, but I needed to understand software develpment at its
                core, instead of copy and pasting code from StackOverflow. I
                decided to venture into building games with Unity. My first game
                was Inversal then came after was Blot Plot. I learnt the premise
                of OOP, and a few architecture patterns such as the singleton
                design pattern. I made some money for it but sadly later was
                taken down because of Google updated regulations.
              </div>
              <div class="m-10"></div>
              <div>
                My first employment was a startup at Imttech. I joined at peak
                time where we had to overhaul an ERP system from CodeIgniter to
                Laravel & Vue.js. This overhaul was a godsend because I learned
                Vue.js at a deeper level. At the time I worked with our CTO, in
                building the skeleton code for Vue.js. This entailed of writing
                code and components that is used as the base for all the new
                modules for other devs to use. After I became the lead in
                building the apps. Using Nativescript-Vue I built the apps from
                the ground up. With such a small team we had, I assumed the role
                of supervising and deploying DigitalOcean/AWS/AliCloud servers
                for new clients that came in. With new subproducts that came in
                like iLoyalty, iMaintain, & iSchool, I assumed the role to be
                the technical business developer, here I learned the AGILE
                methodology. I and the project manager would meet with clients'
                to discuss their requests and their pain points. From there I
                would discuss with the team about the request(s) with the
                timeline assigned. I also managed to create products like a
                facility management feedback, school management, and loyalty
                management system
              </div>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import VueScreenSize from 'vue-screen-size'
import moment from 'moment'

export default {
  mixins: [VueScreenSize.VueScreenSizeMixin],
  data() {
    return {
      hasNameIntroComplete: false,
      hasShowcaseIntroComplete: false,
      selectedUserType: null,
      companyName: 'XYZ',
      lookingForType: 'Full Stack Developer',
    }
  },
  computed: {
    usernameState() {
      return this.$store.state.username
    },
    getCurrentDate() {
      return moment().format('LL')
    },
  },
  methods: {
    onUsernameInput(value) {
      this.$store.commit('updateUsername', value)
      this.username = console.log(value)
    },
    onNameIntroComplete() {
      console.log('complete')
      setTimeout(() => {
        this.hasNameIntroComplete = true
      }, 800)
      this.$forceUpdate()
    },
    onShowcaseIntoComplete() {
      setTimeout(() => {
        this.hasShowcaseIntroComplete = true
      })
    },
    onHomePillClick(index) {
      if (index == 0) {
        let link = document.createElement('a')
        link.href = '/Ikmal-Suzali-Full-Stack-Dev-W.pdf'
        link.download = ''
        link._target = 'blank'
        link.click()
      } else if (index == 1) {
        this.$router.push('/work/work-experience')
      } else if (index == 2) {
        this.$router.push('/chat')
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
